#git
.git
.gitignore

#docker
.docker

#python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/

#web
web/__pycache__/
web/*/__pycache__/
web/*/*/__pycache__/
web/*/*/*/__pycache__/

.env/
.venv/
venv/
