Django==4.2.8
djangorestframework>=3.15.0,<3.15.2
django-filter>=2.4.0,<2.5.3
psycopg2==2.9.9
drf-spectacular>=0.27.0,<0.27.2
django-crontab==0.7.1
scrapy==2.11.2
selenium==4.24.0
webdriver-manager==4.0.2
uuid6==2024.7.10
django-redis==5.4.0
redis==5.0.8
phonenumbers==8.13.46
django-cors-headers==4.4.0
requests==2.32.0
celery==5.4.0
channels==4.1.0
channels-redis==4.2.0
django-taggit==6.1.0
djangorestframework-simplejwt==5.2.2
django-celery-results==2.5.1
boto3==1.35.68
django-storages==1.14.4
flower==2.0.1
django-celery-beat==2.7.0
django-celery-results==2.5.1
django-sendgrid-v5==1.2.4
sendgrid==6.11.0