<!DOCTYPE html>
<html lang="id">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Konfirmasi Transaksi Deposit Uang</title>
  <style>
    @media only screen and (min-width: 600px) {
      .company-header-table td {
        vertical-align: top;
      }

      .company-logo {
        text-align: left !important;
      }

      .company-center {
        text-align: right !important;
      }

      .company-right {
        text-align: right !important;
      }
    }
  </style>
</head>

<body style="margin:0; padding:0; background-color:#f4f4f4; font-family: Arial, sans-serif;">
  <center>
    <table width="100%" cellpadding="0" cellspacing="0" style="background-color:#f4f4f4; padding: 20px 0;">
      <tr>
        <td>
          <table width="700" cellpadding="0" cellspacing="0" align="center"
            style="background-color: #fff; border:1px solid #ddd; border-radius:8px;">

            <!-- Header -->
            <tr>
              <td style="padding:20px; border-bottom:3px solid #F0BF6B;">
                <table class="company-header-table" width="100%">
                  <tr>
                    <td width="20%" class="company-logo" style="text-align:left;">
                      <img
                        src="http://cdn.mcauto-images-production.sendgrid.net/fc2c592a843021e2/172e4f51-ad65-40c2-9e36-8848a1c644c7/1490x792.jpg"
                        alt="Logo" style="max-height:50px; display:block; margin-left:0;" />
                    </td>
                    <td width="33%" class="company-center" style="font-size:13px; color:#333; text-align:right;">
                      <strong>{{NAMA_PERUSAHAAN}}</strong><br>
                      {{ALAMAT_PERUSAHAAN}} <img
                        src="http://cdn.mcauto-images-production.sendgrid.net/fc2c592a843021e2/c9382236-60e7-4678-9836-9dfb584fa787/40x40.png"
                        width="14" height="14" alt="Alamat" /><br>
                      <a href="{{WEBSITE}}" style="color:#333;">{{WEBSITE}}</a> <img
                        src="http://cdn.mcauto-images-production.sendgrid.net/fc2c592a843021e2/6aedb94c-0352-4064-9af8-90f5d18f0b9c/40x40.png"
                        width="14" height="14" alt="Website" />
                    </td>
                    <td width="33%" class="company-right" style="font-size:13px; color:#333; text-align:right;">
                      {{TELP}} <img
                        src="http://cdn.mcauto-images-production.sendgrid.net/fc2c592a843021e2/4138bb6a-9c21-4f6e-8511-c0c9b79642d7/40x40.png"
                        width="14" height="14" alt="Telepon" /><br>
                      {{TELP_URL}} <img
                        src="http://cdn.mcauto-images-production.sendgrid.net/fc2c592a843021e2/2f942479-b182-4197-bf6b-a6e4541a3701/40x40.png"
                        width="14" height="14" alt="WhatsApp" /><br>
                      <a href="{{SUPPORT}}" style="color:#333;">{{SUPPORT}}</a> <img
                        src="http://cdn.mcauto-images-production.sendgrid.net/fc2c592a843021e2/4a466397-769d-47f1-a147-3fefb43fd189/40x40.png"
                        width="14" height="14" alt="Email" />
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <!-- Info Section -->
            <tr>
              <td style="padding:20px; font-size:14px; color:#333;">
                <p><strong>Kepada:</strong> {{NAMA_USER}}</p>
                <p><strong>ID Nasabah:</strong> {{ID_PELANGGAN}}</p>
              </td>
            </tr>

            <!-- Transaction Label -->
            <tr>
              <td style="text-align:right; padding:0 20px; font-weight:bold; font-size:14px;">
                <p>DEPOSIT</P>
                <p>{{TANGGAL_WAKTU}}</p>
                <p>No. Transaksi: {{NO_TRANSAKSI}}</p>
              </td>
            </tr>

            <!-- Table -->
            <tr>
              <td style="padding:0 20px;">
                <table width="100%" border="1" cellspacing="0" cellpadding="10"
                  style="border-collapse: collapse; font-size:14px; text-align:center;">
                  <thead style="background-color:#F0BF6B; color:#333;">
                    <tr>
                      <th>No</th>
                      <th>Keterangan</th>
                      <th>Harga</th>
                      <th>Admin</th>
                      <th>Jumlah IDR</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{table_product|safe}}
                  </tbody>
                </table>
              </td>
            </tr>

            <!-- Summary -->
            <tr>
              <td style="padding:0 20px 20px; font-size:14px;">
                <table width="100%" style="border-top:1px solid #ddd; margin-top:20px;">

                  <tr>
                    <td style="text-align:left; padding:10px 0; font-weight:bold;">Total</td>
                    <td style="text-align:right; font-weight:bold;">{{TOTAL}}</td>
                  </tr>
                  <tr>
                    <td style="text-align:left; padding:10px 0; font-weight:bold;">Status</td>
                    <td style="text-align:right; font-weight:bold;">{{STATUS}}</td>
                  </tr>
                  <tr>
                    <td style="text-align:left; padding:10px 0;">Metode Pembayaran</td>
                    <td style="text-align:right;">{{METODE_PEMBAYARAN}}</td>
                  </tr>
                </table>
              </td>
            </tr>


            <!-- Footer -->
            <tr>
              <td style="padding:20px; font-size:14px; text-align:center; color:#777; border-top:1px solid #eee;">
                <p>Terima Kasih Telah Bertransaksi di <strong>{{NAMA_PERUSAHAAN}}</strong></p>
                <p>Transaksi Anda telah diproses dan Saldo Emas telah ditambahkan ke dalam Account Nemas</p>

                <hr style="border:none; border-top:1px solid #eee; margin:10px 0;">
                <!-- Dua kolom sejajar -->
                <table width="100%" cellpadding="0" cellspacing="0" style="margin-top:10px; text-align:left;">
                  <tr>
                    <td width="50%" style="padding-right:10px; font-size:13px; color:#555;">
                      Email (invoice) ini dapat Anda cetak sebagai bukti transaksi pada Nemas
                    </td>
                    <td width="50%" style="padding-left:10px; font-size:13px; color:#555;">
                      Email (invoice) ini sudah dianggap pembayaran yang sah dan tidak membutuhkan tanda tangan
                    </td>
                  </tr>
                </table>
                <hr style="border:none; border-top:1px solid #eee; margin:10px 0;">
                <p style="font-size:12px; color:#999;">Jika Anda tidak seharusnya menerima email ini, mohon informasikan
                  kepada kami dan hapus dari inbox Anda. Setiap sanggahan akan dicocokkan dengan sistem dan rekening
                  kami.</p>
              </td>
            </tr>

            <!-- Social Media -->
            <tr>
              <td style="background-color:#F0BF6B; padding:10px 0; text-align:center;">
                <img
                  src="http://cdn.mcauto-images-production.sendgrid.net/fc2c592a843021e2/d3692620-c32b-40e9-b9ac-065a15ad749a/40x40.png"
                  alt="Instagram" style="margin: 0 10px; height:30px; width:30px;" />
                <img
                  src="http://cdn.mcauto-images-production.sendgrid.net/fc2c592a843021e2/448ff3ba-5c6c-4d80-bc4e-a81bd502927e/40x40.png"
                  alt="Facebook" style="margin: 0 10px; height:30px; width:30px;" />
                <img
                  src="http://cdn.mcauto-images-production.sendgrid.net/fc2c592a843021e2/399f17f2-bea6-46fb-ae43-411a8c589a6e/40x40.png"
                  alt="X" style="margin: 0 10px; height:30px; width:30px;" />
                <img
                  src="http://cdn.mcauto-images-production.sendgrid.net/fc2c592a843021e2/c89e3852-20c5-40d1-bb52-0e3650faf75c/40x40.png"
                  alt="Line" style="margin: 0 10px; height:30px; width:30px;" />
              </td>
            </tr>

          </table>
        </td>
      </tr>
    </table>
  </center>
</body>

</html>