<!DOCTYPE html>
<html lang="id">

<head>
  <meta charset="UTF-8" />
  <title>Konfirmasi Kirim Ke Member (Penerima)</title>
  <style>
    @media only screen and (min-width: 600px) {
      .company-header-table td {
        vertical-align: top;
      }

      .company-logo {
        text-align: left !important;
      }

      .company-center {
        text-align: right !important;
      }

      .company-right {
        text-align: right !important;
      }
    }
  </style>
</head>

<body style="margin:0; padding:0; background-color:#f4f4f4; font-family:Arial, sans-serif;">
  <center>
    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:#f4f4f4;">
      <tr>
        <td align="center">
          <table width="700" cellpadding="0" cellspacing="0" border="0"
            style="background-color:#ffffff; border:1px solid #ddd; border-radius:8px; overflow:hidden;">

            <!-- Header -->
            <tr>
              <td style="padding:20px; border-bottom:3px solid #F0BF6B;">
                <table class="company-header-table" width="100%">
                  <tr>
                    <td width="25%" class="company-logo" style="text-align:left;">
                      <img
                        src="http://cdn.mcauto-images-production.sendgrid.net/fc2c592a843021e2/172e4f51-ad65-40c2-9e36-8848a1c644c7/1490x792.jpg"
                        alt="Logo" style="max-height:50px; display:block;" />
                    </td>
                    <td width="33%" class="company-center" style="font-size:13px; color:#333; text-align:right;">
                      <strong>{{NAMA_PERUSAHAAN}}</strong><br>
                      {{ALAMAT_PERUSAHAAN}} <img
                        src="http://cdn.mcauto-images-production.sendgrid.net/fc2c592a843021e2/c9382236-60e7-4678-9836-9dfb584fa787/40x40.png"
                        width="14" height="14" alt="Alamat" /><br>
                      <a href="{{WEBSITE}}" style="color:#333;">{{WEBSITE}}</a> <img
                        src="http://cdn.mcauto-images-production.sendgrid.net/fc2c592a843021e2/6aedb94c-0352-4064-9af8-90f5d18f0b9c/40x40.png"
                        width="14" height="14" alt="Website" />
                    </td>
                    <td width="35%" class="company-right" style="font-size:13px; color:#333; text-align:right;">
                      {{TELP}} <img
                        src="http://cdn.mcauto-images-production.sendgrid.net/fc2c592a843021e2/4138bb6a-9c21-4f6e-8511-c0c9b79642d7/40x40.png"
                        width="14" height="14" alt="Telepon" /><br>
                      {{TELP_URL}} <img
                        src="http://cdn.mcauto-images-production.sendgrid.net/fc2c592a843021e2/2f942479-b182-4197-bf6b-a6e4541a3701/40x40.png"
                        width="14" height="14" alt="WhatsApp" /><br>
                      <a href="{{SUPPORT}}" style="color:#333;">{{SUPPORT}}</a> <img
                        src="http://cdn.mcauto-images-production.sendgrid.net/fc2c592a843021e2/4a466397-769d-47f1-a147-3fefb43fd189/40x40.png"
                        width="14" height="14" alt="Email" />
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <!-- Konten utama -->
            <tr>
              <TD style="text-align: center;">

                <img
                  src="http://cdn.mcauto-images-production.sendgrid.net/fc2c592a843021e2/60cb18fb-8674-4150-a807-2e5a7859bdc6/1536x1024.png"
                  height="180" alt="Konfirmasi Email">

              </TD>
            </tr>

            <tr>
              <td style="text-align: center;">
                <p><strong>Hi {{NAMA_USER}}</strong></p>
                <p>Anda mendapat kiriman saldo emas:</p>
              </td>
            </tr>

            <!-- Tabel Transaksi -->
            <tr>
              <td style="padding:20px;">
                <table width="100%" cellpadding="0" cellspacing="0"
                  style="background-color: #fff9e6; border: 1px solid #f2cf84; border-radius: 10px; padding: 20px; margin: 20px auto; max-width: 500px; text-align: center">
                  <tr>
                    <td style="font-size: 14px; margin-bottom: 6px; color: #666;">Pengirim</td>
                  </tr>
                  <tr>
                    <td style="font-size: 20px; font-weight: bold; color: #00796b; margin: 0;">{{NAMA_PENGIRIM}}</td>
                  </tr>
                  <tr>
                    <td>
                      <hr style="border: none; border-top: 1px dashed #e0c27b; margin: 16px 0;">
                    </td>
                  </tr>
                  <tr>
                    <td style="font-size: 14px; margin-bottom: 6px; color: #666;">Jumlah Emas Diterima</td>
                  </tr>
                  <tr>
                    <td style="font-size: 24px; font-weight: bold; color: #d4af37; margin: 0;">{{AMOUNT_WEIGHT}}</td>
                  </tr>
                  <tr>
                    <td>
                      <hr style="border: none; border-top: 1px dashed #e0c27b; margin: 16px 0;">
                    </td>
                  </tr>
                  <tr>
                    <td style="font-size: 14px; margin-bottom: 6px; color: #666;">Setara dengan Rupiah</td>
                  </tr>
                  <tr>
                    <td style="font-size: 24px; font-weight: bold; color: #2e7d32; margin: 0;">Rp {{AMUNT_VALUE}}</td>
                  </tr>
                  <tr>
                    <td>
                      <hr style="border: none; border-top: 1px dashed #e0c27b; margin: 16px 0;">
                    </td>
                  </tr>
                  <tr>
                    <td style="font-size: 14px; margin-bottom: 6px; color: #666;">Pesan</td>
                  </tr>
                  <tr>
                    <td style="font-size: 18px; font-weight: bold; color: #555; margin: 0;">{{PESAN}}</td>
                  </tr>
                  <tr>
                    <td>
                      <hr style="border: none; border-top: 1px dashed #e0c27b; margin: 16px 0;">
                    </td>
                  </tr>
                  <tr>
                    <td style="font-size: 14px; margin-bottom: 6px; color: #666;">Tujuan</td>
                  </tr>
                  <tr>
                    <td style="font-size: 18px; font-weight: bold; color: #00796b; margin: 0;">{{TUJUAN}}</td>
                  </tr>
                </table>
              </td>
            </tr>

            <!-- Ringkasan -->

            <!-- Footer -->
            <tr>
              <td style="padding:10px; font-size:14px; color:#777; text-align:center;">

                <p>Silakan cek status transaksi Anda melalui aplikasi <strong>Nemas</strong>.</p>
                <p>Terima kasih telah menggunakan layanan kirim emas dari Nemas!</p>

                <hr style="border: none; border-top: 1px solid #eee; margin:0; width: 100%;">


                <p style="font-size:12px; color:#999;">Jika Anda tidak seharusnya menerima email ini, mohon informasikan
                  kepada kami dan hapus dari inbox Anda. Setiap sanggahan akan dicocokkan dengan sistem dan rekening
                  kami.</p>
              </td>
              <td></td>
            </tr>

            <!-- Social Media -->
            <tr>
              <td style="background-color:#F0BF6B; text-align:center; padding:10px;">
                <img
                  src="http://cdn.mcauto-images-production.sendgrid.net/fc2c592a843021e2/d3692620-c32b-40e9-b9ac-065a15ad749a/40x40.png"
                  alt="Instagram" style="height:30px; width:30px; margin:0 10px;">
                <img
                  src="http://cdn.mcauto-images-production.sendgrid.net/fc2c592a843021e2/448ff3ba-5c6c-4d80-bc4e-a81bd502927e/40x40.png"
                  alt="Facebook" style="height:30px; width:30px; margin:0 10px;">
                <img
                  src="http://cdn.mcauto-images-production.sendgrid.net/fc2c592a843021e2/399f17f2-bea6-46fb-ae43-411a8c589a6e/40x40.png"
                  alt="X" style="height:30px; width:30px; margin:0 10px;">
                <img
                  src="http://cdn.mcauto-images-production.sendgrid.net/fc2c592a843021e2/c89e3852-20c5-40d1-bb52-0e3650faf75c/40x40.png"
                  alt="Line" style="height:30px; width:30px; margin:0 10px;">
              </td>
            </tr>

          </table>
        </td>
      </tr>
    </table>
  </center>
</body>

</html>